.header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.header__preferences {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__select {
    border: none;
    outline: none;
}